@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700);

body {
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
}


html{
	background: url(img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header{
	position: fixed;
	text-align: right;
	float: right;
	padding-right: 2%;
	width: 100vh;
	height: 580px;
	top: 10px;	
	right: 100%;
	opacity: 0.7;
}

label {
	position: fixed;
	top: 10px;
	left: 40px;
	z-index: 1000 !important;
	display: block;
	font-size:5em;
	color: #989d9c;
	cursor: context-menu;
	width:30px;height:30px;
	transform: translate3d(0, 0, 0);
	transition: transform .4s;
}
input[type=checkbox]{
	display:none;
}

input[type=checkbox]:checked ~ label {
	transform: translate3d(250px, 0, 0) rotate(90deg);
}
#menu {
	transform: translate3d(0, 0, 0);
	transition: transform .4s;
}
input[type=checkbox]:checked ~ #menu {
	transform: translate3d(250px, 0, 0);
}
input[type=checkbox]:checked ~ #menu {
	transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ #menu li {
	width: 100%;
}
#menu{
	transform: translate3d(-200px, 0, 0);
	position: absolute;
	width: 200px;
	transition: all .4s;
}
/*#menu h1 {
	margin: 10px;
	text-shadow: 1px 1px 1px #000;
}*/

#menu { 
	color: #ccc;
	float: left;
	width: 14%;
	height: 100vh;
	background-color: #000000;
	position: fixed !important;
	padding-top: 55px;
	opacity: 0.6;
	font-weight: 300;
	z-index: 1000;
}

#menuHead{
	margin-left: 40px;
	font-size: 17px;
}

#menulist {
	list-style-type: none;
	font-size: 14px;
	margin-top: 40px;
	line-height: 25px;
	width: 70%;
}

#menulist li:hover {
	color: #FFF;
}

ul.submenu {
	display: none;
}

li:hover ul.submenu {
	display: block;
}

.submenu li:hover {
	color: #FFF;
}

.submenu{
	list-style-type: none;
	margin-left: -20px;
}

#socialMedia {
	padding-left: 12px;
	z-index: 1000;
}

#socialMedia img:hover {
	opacity: .4;
}

#worldmap {
	width: 100%;
	height: 100vh;
	float: left;
	background-color: #000000;
	clear: both;
	margin-top: 100vh;

}

#footer {
	padding-right: 2%;
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 12px;
	opacity: 0.7;
}

.menu {
	height: 80%;
}

.heading {
	margin: 0;
}

.worldmap{
	text-align: center;
}

.copy {
	text-align: right;
}

.subHeading {
	font-weight: 300;
	margin: 0;
}

/*@media screen and (max-width: 500px) {
	body {
		display: none;  
		display: block;
	}
	}*/

