body {
		font-family: sans-serif;
		margin: 0;
		padding: 0;
	}

/*p, h1 {
	text-align: justify;
	padding: 0px 30%;
}
h1 {
	margin: 50px 0px;
}
p:hover {
	color: red;
}*/

#main {
	width: 100%;
	float: left;
	background-size: 100%;
	background-color: #f2e2ad;

}
#head {
	position: absolute;
	float: left;
}

#menu { /* # calls an id */
	color: white;
	position: absolute;
	float: left;
	width: 220px;
	height: 100%;
	background-color: #000000;
}

#worldmap {
	background-color: #1168f2;
}

#footer {
	color: white;
	background-color: #000000;
}



img {
	width: 100%;
	height: auto;
}