body {
		font-family: sans-serif;
	}

/*p, h1 {
	text-align: justify;
	padding: 0px 30%;
}
h1 {
	margin: 50px 0px;
}
p:hover {
	color: red;
}*/

#main {

	background-color: #f2e2ad
}

#menu { /* # calls an id */
	color: white;
	width: 220px;
	height: 500px;
	background-color: #000000
}

#worldmap {
	background-color: #1168f2
}

#footer {
	color: white;
	background-color: #000000
}